body{
	background-repeat:repeat-x;
	background-color : #ffffff;
}
*{
	font-family: Arial, Verdana, sans-serif;
}
			
.footer-text {
	font-size: 10px;	
}

.main_footer{
	 font-size: 9px;
	 text-align: center;
	 position: absolute;
	 bottom: 0px;
	 left: 0px;
	 width: 100%;
	 height: 18px
}
			
.demo_fieldset {
	margin : 0px;
	border : 1px solid #ACBECE;
	width: 25%;
	align: center;
	text-align: center;				
}

.demo_legend {
	font-weight : bold; 
	margin : 5px 5px 5px 5px;
}

.sample-container {
	padding: 1px 1px 1px 1px;
	text-align: center;
}			

.rich-panel{
	border-width: 1px;
	border-style: solid;
	padding : 1px;
	border-color: #BED6F8;
}

.rich-panel-header{
	padding : 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #BED6F8;
	background-position : top left;
	background-repeat : repeat-x;
	font-weight: bold;  
	font-size: 14px;
	text-align: left;
}

.rich-panel-body{
	padding : 10px;	
	font-size: 12px;
} 